 body
      {
        color: white;
           
      }
      
      footer
      {
        top: 89%;
        right: 0%;
        left: 0%;

      }
      h1{
      margin: 0 auto;
      text-align: center;
      padding:3%;
      margin-top: 5%;
      }
      .card-body{
            margin: 0 auto;
            text-align: center;
      }